.wp-tab-bar {
	display: none;
}
body.js .wp-tab-bar {
	display: block;
}

/* fix border-bottom rounding error problem. */
#side-sortables .wp-tab-bar {
	margin-bottom: 0px;
	min-height: 19px;
}

/* These following styles belong in core */
#normal-sortables .wp-tab-bar a,
#advanced-sortables .wp-tab-bar a {
	text-decoration: underline;
}
#normal-sortables .wp-tab-bar,
#advanced-sortables .wp-tab-bar {
	float: left;
	margin: 0 -120px 0 5px;
	padding: 0;
	text-align: right;
	width: 120px;
}
#normal-sortables .wp-tab-bar li,
#advanced-sortables .wp-tab-bar li {
	padding: 8px;
	display: list-item;
}
#normal-sortables .wp-tab-active,
#advanced-sortables .wp-tab-active {
	border-radius: 3px 0 0 3px;
	border-style: solid none solid solid;
	border-width: 1px 0 1px 1px;
	margin-right: -1px;
}
#normal-sortables .wp-tab-active a,
#advanced-sortables .wp-tab-active a {
	font-weight: bold;
	text-decoration: none;
}
#normal-sortables .wp-tab-panel,
#advanced-sortables .wp-tab-panel {
	margin: 0 5px 0 125px;
	border-style: solid;
	border-width: 1px;
	height: 200px;
	overflow: auto;
	padding: 0.5em 0.9em;
}
